<div *ngIf="isConnected()">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Tuto Angular</span>
       <div class="menu" >
        <button mat-button routerLink="/accueil">Home</button>
        <button mat-button routerLink="/register">S'inscrire</button>
        <button mat-button routerLink="/contact">Contact</button>
       </div>
       


        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>share</mat-icon>
       </button>

        <button mat-button color="accent" data-cy="logout"  (click)="logout()">Logout</button>
      </mat-toolbar-row>
  
      
    </mat-toolbar>
  </div>